@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: system-ui;
    font-size: 1vw;
}

:root {
    --title-font: 'Montserrat';
    --card-text-color: white;
}

:root[data-theme='dark'] {
    --header-background-color: #221f1f;
    --header-text-color: white;
    --background-color: #221f1f;
    --text-color: white;
    --text-color-alt: black;
}

:root[data-theme='light'] {
    --header-background-color: white;
    --header-text-color: black;
    --background-color: white;
    --text-color: black;
    --text-color-alt: white;
}
